body {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#main-container {
    margin-top: 1%;
}

#search-form {
    float: left;
}

.container {
    width: 100%;
    margin-bottom: 1%;
}

#main-row {
    height: 660px;
}

#chat {
    align-content: center;
    width: 92.5%;
    height: 150px;
    background-color: #d0dff9;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
}

#one {
    background-color: #cc8400;
    border-radius: 15px;
}

#two {
    background-color: #664200;
    border-radius: 15px;
}

#display-songs {
    position: relative;
    top: 2%;
}

iframe {
position: relative;
top: 15px;
}

#imageSize {
    height: 50px;
    border-radius: 50%;
}